html {
  overflow: hidden;
}

body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  background-color: #212121;
  cursor: default;
  margin: 0;
  overflow: hidden;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
}

.content {
  height: 100%;
  margin: auto;
  position: fixed;
  width: 100%;
}
