body {
  -webkit-text-size-adjust: 100%;
  color: #212121;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

hr {
  margin: 24px 0;
}

.main {
  margin: 0 auto 96px auto;
  max-width: 624px;
  width: 100%;
}

.controls {
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  bottom: 24px;
  height: 48px;
  left: 16px;
  margin: 0 auto;
  max-width: 592px;
  position: fixed;
  right: 16px;
}

.section {
  margin: 24px 0;
}
